.edu-tas-beginner {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.header {
  background-image: url("../img/wall.png");
  background-size: cover;
  background-position: center;
}
body {
  background-image: url("../img/cork.png");
  margin: 0;
  padding: 0;
}
h1 {
  line-height: 100px;
}
.card > img {
  padding: 10px;
}
#layover {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.card {
  width: 90%;

  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
  cursor: pointer;
}
.card:hover {
  transform: rotate(10deg);
}

.card img {
  max-width: 100%;
  height: auto;
  transition: 0.5s ease;
}

#overlayImage {
  max-width: 80%;
  max-height: 80%;
}
